<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose musicBand</title>
</head>
<body>

    <div>
        <form method="post">
            <input type="text" name="groupName" placeholder="Название группы">
            <button type="submit">Создать</button>
        </form>
    </div>

    <div>
    Список групп
    <div>
    {{#MusicBands}}
        <b>{{id}}</b>: {{bandName}}, создана: {{createDate}} <br>
    {{/MusicBands}}
    </div>
    </div>
</body>
</html>