<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose musicBand</title>
</head>
<body>

    <div>
        <form action="/music_bands/add" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="groupName" placeholder="Название группы">
            <button type="submit">Создать</button>
        </form>
    </div>

    <div>
    <br>Список групп<br>
        <div>
            {{#MusicBands}}
            <form action="/music_bands/choose" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <input type="hidden" name="id" value="{{id}}"/>
                    <button type="submit"> {{bandName}} </button> создана: {{createDate}} <br><br>
            </form>
            {{/MusicBands}}
        </div>
    </div>
</body>
</html>